<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="text-center text-success">Driver Page</h1>
    <div class="container-fluid">
      <form method="POST" action="" class="row g-3">
        {% csrf_token %}
        <a href="/ride/homepage/">Go Back to Home Page</a>
        <br>
        <br>
        <br>
        <div class="text-center">
          <div id="header" style="background-color:#99ffa085;">
            <h1 class="text-center">Menu</h1>
            <a href="/rideSharing/get_user_info/">View Your Personal & Vehicle Information</a><br>
            <a href="/rideSharing/modify_driver/">Edit Your Personal & Vehicle Information</a><br>
            <a href="/ride/searchd/">Search for Open Ride Requests (Get a ride sharing order)</a><br>
            <a href="/ride/getd/">View Your Confirmed Rides</a>
          </div>
          <br>
          <br>
        </div>
        <div class="col-12">
          Do not want to be a driver anymore? you can:&nbsp;
          <button type="submit" class="btn btn-primary">Unregister Driver</button>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>